.header-stage{
    font-size: 18px;
    padding: 15px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;


    .qr-code{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .classement{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}