
.profil-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;

    .user-avatar{
        margin-bottom: 10px;
    }

    .avatar-pic{
        border-radius: 50%;
        height: 80px;
    }

    .name-user{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .grade-user{
        display: flex;
        padding: 2px;
        margin-bottom: 5px;
    }
    .results{
        padding: 2px;
        display: flex;
    }
}
