.container {
    display: flex;
    flex-direction: column;
}

.title-message{
    color:white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}


.buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.user-picture{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}