.stage-container{
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  width: 100%;
  display: flex;
  justify-content: center;

  .stage{
    height: 844px;
    width: 390px;




  }
}