
.modal-container{
    z-index: -1;
    background-color: white;
    width: 330px;
    border-radius: 200%;
    height: 330px;
}

.hit{
    background-color: green;
}

.miss{
    background-color: red;
}

.confetti-effect{
    z-index: -1;
}